{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid text-center">
    <form class="col ml-5 mt-5">
        <h2 class="col-5 my-2">New question</h2>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Title</p>
            </div>
            <div class="col col-4 my-2">
                 <input type="title" class="form-control" placeholder="Title" required autofocus>
            </div>
        </div>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Text</p>
            </div>
            <div class="col col-4 my-2">
                 <textarea type="text" class="form-control" required></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Tags</p>
            </div>
            <div class="col col-4 my-2">
                 <input type="nickname" class="form-control" placeholder="#cookie">

                <button class="btn btn-lg btn-outline-warning btn-block mt-4 md-2" type="submit">Ask!</button>
            </div>
        </div>


    </form>
</div>

{% endblock %}

