{% load static %}

<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>COOKIE OVERBOWL</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/my.css' %}" type="text/css">
    </head>


    <body>
		<script src="{% static '/js/jquery-3.3.1.slim.min.js' %}"></script>
		<script src="{% static '/js/popper.min.js' %}"></script>
		<script src="{% static '/js/bootstrap.min.js' %}"></script>

		<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">

			<figure class="figure-fluid my-0 ">
				<a href="{% url 'index' %}">
				<img class="img-fluid" src="{% static 'media/images/logo.png' %}" width=150 alt="LOGO">
				</a>
			</figure>

			<div class="col container d-md-block">
				<div class="row ml-2">
					<h1 class="text-center text-light"> Cookie Overbowl </h1>
				</div>

				<div class="row ">
					<form class="form-inline mr-auto ml-2">
						<input class="form-control" type="search" placeholder="Search the Cookie" aria-label="Search">
						<button class="btn btn-outline-warning ml-2" type="submit">Search</button>
					</form>
				</div>
			</div>

			<div class="col col-2 container mt-auto mr-auto">
					<a class="mx-2" href="{% url 'ask' %}">
						<button class="btn btn-lg btn-outline-warning ml-2" type="submit">Ask!</button>
					</a>
			</div>


			<div class="container col-4 ml-auto">
				{% if user.authorised %}
					<figure class="col figure-img">
						<img class="image-fluid rounded-circle" src="{% static 'media/images/avatar.png' %}" alt="LOGO" width="150" align="left" >
					</figure>
					<div class="col">
						<div class="row">
							<h3 class="mx-auto text-light " id="username-head"> {{user.login}}</h3>
						</div>
						<div class="row text-center center-block">
								<a class="mx-2" href="{% url 'settings' %}">
									<button class="btn btn-sm btn-outline-warning mr-auto mx-2">settings</button>
								</a>
								<a class="mx-2" href="{% url 'logout' %}">
								<button class="btn btn-sm btn-outline-warning ml-auto mx-2">log out</button>
								</a>
						</div>
					</div>
				{% else %}
					<div class="container">
						<a class="mx-2" href="{% url 'login' %}">
							<button  class="btn btn-outline-warning mx-2">log in</button>
						</a>
						<a class="mx-2" href="{% url 'signup' %}">
							<button class="btn btn-outline-warning mx-2">register</button>
						</a>
					</div>
				{% endif %}


			</div>

		</nav>



		<div class="container-fluid min-vh-100 row m-0 p-0">
			<div class="container col col-10" id="content_place"  style="height: 100vh overflow:hidden">
				{% block content %}
						ENTER YOUR CODE
				{% endblock %}
			</div>

			<div class="container col-2 bg-dark" style="height: 100vh overflow:hidden">
				<ul class="list-unstyled components">
					<h4 class="text-light text-center mt-5">Popular tags</h4>
					<li class="text-center">
						<a href="{% url 'search_tag' 'Cookie' %}">Cookie</a>
						<a href="{% url 'search_tag' 'Coooookie' %}">Coooookie</a>
						<a href="{% url 'search_tag' 'Monster' %}">Monster</a>
						<a href="{% url 'search_tag' 'Cake' %}">Cake</a>
					</li>


					<h4 class="text-light text-center mt-5">Best Members</h4>
					<li class="text-center">
						<a href="#">Cookie Monster</a>
					</li>
					<li class="text-center">
						<a href="#">Deep Cookie</a>
					</li>
					<li class="text-center">
						<a href="#">Cookie Killer</a>
					</li>
					<li class="text-center">
						<a href="#">Fake cookie</a>
					</li>
				</ul>
			</div>
		</div>






	</body>



