{% extends "media_listing.html" %}
{% load staticfiles %}

{% block listing-head %}


<div class="btn-group btn-group-lg mt-3" role="group" aria-label="Basic example">
      <a href="{% url 'home' %}">
            {% if page_type == "latest" %}
                  <button type="button" class="btn btn-outline-warning bg-dark text-light mr-5">New Questions</button>
            {% else %}
                  <button type="button" class="btn btn-secondary bg-dark mr-5">New Questions</button>
            {% endif %}
      </a>
      <a href="{% url 'hot' %}">
            {% if page_type == "hot" %}
                  <button type="button" class="btn btn-outline-warning bg-dark text-light mr-5">Hot Questions</button>
            {% else %}
                  <button type="button" class="btn btn-secondary bg-dark mr-5">Hot Questions</button>
            {% endif %}
      </a>
</div>


{% endblock %}
