{% load static %}

<div class="row  like-place no-gutters border border-danger border-top-0 border-bottom-0 md-auto" style="max-width:100px">
                <div class="col d-flex justify-content-center">
                    <a href=""><img class="image-fluid" src="{% static '/media/images/like.png' %}" alt="like" width="20"></a>
                </div>

                <div class="col d-flex justify-content-center">
                    <p>{{like_count}}</p>
                </div>

                <div class="col d-flex justify-content-center">
                    <a href=""><img class="image-fluid" src="{% static '/media/images/dislike.png' %}" alt="dislike" width="20"></a>
                </div>
</div>