{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="text-center">
    <form class="container ml-5 mt-5">
        <h2 class="col-5 my-2">Log in</h2>
        <div class="row">
            <div class="col col-1 my-2">
                <p>Login</p>
            </div>
            <div class="col col-4 my-2">
                 <input type="login" class="form-control" placeholder="Login" required autofocus>
            </div>
        </div>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Password</p>
            </div>
            <div class="col col-4">
                 <input type="password" class="form-control" placeholder="Password" required>
                    <a href="{% url 'on_login' %}">
                        <button class="btn btn-lg btn-outline-warning btn-block mt-4 md-2" type="submit">Log in!</button>
                    </a>
                    <a class="my-2" href="{% url 'signup' %}">create new account</a>

            </div>
        </div>


    </form>
</div>

{% endblock %}

