{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="listing-head container-fluid text-center">
    {% block listing-head %}
        ENTER YOUR CODE
    {% endblock %}
</div>

<hr align="center" width="1280" size="30" color="Black" />


{% for question in questions_page %}

    {% include 'question_box.html' %}

{% endfor %}


<hr align="center" width="1280" size="30" color="Black" />

<div class="col col-10 my-2 mx-auto ">
	{% include 'paginator.html' %}
</div>


{% endblock %}
