{% load static %}

<div class="demo">
		<nav class="pagination-outer" aria-label="Page navigation">
			<ul class="pagination">

                {% if paginator.pag_page.has_previous %}
                    <form method="GET" id="paginator_prev" action="{% url page_type %}">
                        <input type="hidden" name="page" value={{paginator.pag_page.previous_page_number}}>
                        <li class="page-item">
                            <a onclick="document.getElementById('paginator_prev').submit();" class="page-link" aria-label="Next">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                    </form>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                {% endif %}



                {% for page in paginator.pages %}
                    <form method="GET" id="paginator{{page}}" action="{% url page_type %}">
                        <input type="hidden" name="page" value={{page}}>
                        {% if page == paginator.active_page%}
                            <li class="page-item active"><a type="submit" class="page-link">{{page}}</a></li>
                        {% else %}
                            {% if page == '...' %}
                                <li class="page-item">
                                    <a class="page-link">{{page}}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a onclick="document.getElementById('paginator{{page}}').submit();" class="page-link">{{page}}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </form>

                {% endfor %}

                {% if paginator.pag_page.has_next %}
                    <form method="GET" id="paginator_next" action="{% url page_type %}">
                        <input type="hidden" name="page" value={{paginator.pag_page.next_page_number}}>
                        <li class="page-item">
                            <a onclick="document.getElementById('paginator_next').submit();" class="page-link" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </form>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                {% endif %}

			</ul>
		</nav>
	</div>