{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="container-fluid text-center">

    <div class="question-head row mx-auto mt-4 bg-dark rounded-lg">
        <div class="col mt-2 ml-2 ">
            <div class="row d-flex justify-content-center">
                    <img class="image-fluid rounded-circle" src="{% static '/media/images/avatar.png' %}" alt="LOGO" width="150" align="left" >
            </div>

            <div class="mt-4">
                {% with like_count=question.likes %}
                    {% include 'like_panel.html' %}
                {% endwith %}
            </div>

        </div>

        <div class="col-10 mt-2">
             <div class="row">
                 <h4> {{question.title}}</h4>
             </div>
             <div class="row">
                 <p>
                 {{question.content}}
                 </p>
             </div>
            <div class="row">
                 <p> tags:</p>
                {% for tag in question.tags.all %}
                    <a href="{% url 'search_tag' tag %}" class="mx-2">{{tag.tag_name}}</a>
                {% endfor %}
             </div>
        </div>
    </div>

</div>

<hr align="center" width="1280" size="30" color="Black" />


{% for answer in answers %}

<div class="media bg-dark container  no-gutters my-5 mx-auto rounded-lg">
    <div class="row">
        <div class="flex-column col-2 ">
                <img src="{% static '/media/images/cookie.png' %}" class="mr-3" alt="cookie" width="100">
        </div>

        <div class="media-body col-10 flex-col justify-content-left ml-4 mt-2">
                <p>
                    {{answer.content}}
                </p>

        </div>


    <div class="w-100"></div>


        <div class="col col-2">
            {% with like_count=answer.likes %}
                {% include 'like_panel.html' %}
            {% endwith %}

        </div>

        <div class="col col-3 form-check form-check-inline d-flex justify-content-center">
            <form>
                {% if answer.correct_flag == 1 %}
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                {% else %}
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                {% endif %}
                <label class="form-check-label" for="inlineCheckbox1">correct!</label>
            </form>
        </div>
    </div>

</div>

{% endfor %}


<hr align="center" width="1280" size="30" color="Black" />

<div class="col col-10 my-2 mx-auto ">
    <textarea type="text" class="form-control" placeholder="Enter your answer here"></textarea>
</div>
<div class="col col-4 mx-auto my-5">
    <button class="btn btn-lg btn-outline-warning btn-block mt-4 md-2" type="submit">Answer!</button>
</div>


{% endblock %}
