{% load static %}

<div class="media bg-dark container  no-gutters my-5 mx-auto rounded-lg">
    <div class="row">
        <div class="flex-column col-2 ">
                <img class="rounded-circle m-3" src="{% static '/media/images/avatar.png' %}" class="mr-3" alt="cookie" width="100">
        </div>

        <div class="media-body col-10 flex-col justify-content-left mx-0 mt-2">
			<a href="{% url 'question' question_number=question.id %}">
                <h4>
                    {{question.title}}
                </h4>
            </a>
                <p>
                    {{question.content}}
                </p>

        </div>


    <div class="w-100"></div>

        <div class="col col-2">
            {% with like_count=question.likes %}
                {% include 'like_panel.html' %}
            {% endwith %}
        </div>

        <div class="col col-6 form-check form-check-inline d-flex justify-content-left ml-4">
            <div class="row">
				<a class="mr-auto" href="{% url 'question' question_number=question.id %}"> answers ({{question.answer_cnt}}) </a>
                <p class="ml-2"> tags:</p>
                {% for tag in question.tags.all %}
                    <a href="{% url 'search_tag' tag %}" class="mx-2">{{tag}}</a>
                {% endfor %}
             </div>
        </div>

    </div>

</div>