{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid text-center">
    <form class="col ml-5 mt-5">
        <h2 class="col-5 my-2">Settings</h2>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Login</p>
            </div>
            <div class="col col-4 my-2">
                 <input type="login" class="form-control" placeholder="Cookie Monster" required autofocus>
            </div>
        </div>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Email</p>
            </div>
            <div class="col col-4 my-2">
                 <input type="email" class="form-control" placeholder="sesame_street@mail.com" required>
            </div>
        </div>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Nickname</p>
            </div>
            <div class="col col-4 my-2">
                 <input type="nickname" class="form-control" placeholder="fake cookie" required>
            </div>
        </div>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Upload avatar</p>
            </div>
            <div class="col col-4">
                <figure class="col figure-img ">
                    <img class="image-fluid" src="{% static '/media/images/avatar.png' %}" alt="LOGO" width="150" align="left" >
                </figure>

                <input type="file" name="avatar">

                <button class="btn btn-lg btn-outline-warning btn-block mt-4 md-2" type="submit">Save</button>
            </div>
        </div>


    </form>
</div>

{% endblock %}

