{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid text-center">
    <form class="col ml-5 mt-5">
        <h2 class="col-5 my-2">Register</h2>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Login</p>
            </div>
            <div class="col col-4 my-2">
                 <input type="login" class="form-control" placeholder="Login" required autofocus>
            </div>
        </div>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Email</p>
            </div>
            <div class="col col-4 my-2">
                 <input type="email" class="form-control" placeholder="sesame_street@mail.com" required>
            </div>
        </div>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Nickname</p>
            </div>
            <div class="col col-4 my-2">
                 <input type="nickname" class="form-control" placeholder="Cookie Monster" required>
            </div>
        </div>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Password</p>
            </div>
            <div class="col col-4 my-2">
                 <input type="password" class="form-control" placeholder="Password" required>
            </div>
        </div>

        <div class="row">
            <div class="col col-1 my-2">
                <p>Repeat password</p>
            </div>
            <div class="col col-4 my-2">
                 <input type="repeat_password" class="form-control" placeholder="Repeat password" required>
            </div>
        </div>



        <div class="row">
            <div class="col col-1 my-2">
                <p>Upload avatar</p>
            </div>
            <div class="col col-4">
                <input type="file" name="avatar">

                <button class="btn btn-lg btn-outline-warning btn-block mt-4 md-2" type="submit">Register!</button>
            </div>
        </div>


    </form>
</div>

{% endblock %}

